body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;


}

.header-Logo {
    display: flex;
    margin-right: auto;
    padding: 15px;
    margin-left: 80px;
    font-size: 24px;
    font-weight: bold;
}

.link-one,
.link-two,
.link-three {
    display: flex;
    padding: 15px;
    align-self: center;
}

.link-three {
    margin-right: 80px;
}